# Supabase Configuration
SUPABASE_URL=your_supabase_project_url
SUPABASE_KEY=your_supabase_service_role_key

# OpenTelemetry Configuration for Grafana
OTLP_ENDPOINT=your_grafana_otlp_endpoint
OTLP_TOKEN=your_grafana_otlp_token
DEPLOYMENT_ENV=development


# Server Configuration
PORT=4000
